# Explore

Import Python tools

In [2]:
import geopandas as gpd
import altair as alt

Read in the combined file

In [6]:
gdf = gpd.read_file("food-inspections.geojson")

In [7]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 39276 entries, 0 to 39275
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OBJECTID                39276 non-null  int32
 1   HealthFacilityIDNumber  39276 non-null  object
 2   FacilityCategory        39276 non-null  object
 3   BusinessName            39276 non-null  object
 4   RiskLevel               39276 non-null  object
 5   FullAddress             39263 non-null  object
 6   AddrNum                 39263 non-null  float64
 7   AddrNumSuffix           34 non-null     object
 8   StreetName              39263 non-null  object
 9   StreetType              38331 non-null  object
 10  PostDir                 27746 non-null  object
 11  Unit                    4031 non-null   object
 12  City                    39263 non-null  object
 13  State                   39263 non-null  object
 14  County                  39263 non-null  object
 15  ZipCode                 39064 non-null  object
 16  InspectionType          39276 non-null  object
 17  InspectionResult        39276 non-null  object
 18  DateOfInspection        39276 non-null  int64
 19  InspectionIDNumber      39276 non-null  int32
 20  FoodCodeText            33231 non-null  object
 21  InspectorComments       32689 non-null  object
 22  ViolationPriority       33231 non-null  object
 23  FoodCodeItem            33231 non-null  object
 24  YearOfInspection        39276 non-null  int32
 25  ViolationStatus         33231 non-null  object
 26  ViolationPoints         39276 non-null  int32
 27  InspectionScore         39276 non-null  int32
 28  ViolationIDNumber       39276 non-null  int32
 29  APN                     39095 non-null  object
 30  Ward                    38889 non-null  object
 31  Neighborhood            38889 non-null  object
 32  Latitude                39276 non-null  float64
 33  Longitude               39276 non-null  float64
 34  X_WebMercator           39276 non-null  float64
 35  Y_WebMercator           39276 non-null  float64
 36  geometry                39276 non-null  geometry
dtypes: float64(5), geometry(1), int32(6), int64(1), object(24)
memory usage: 10.2+ MB

In [8]:
gdf.head()

,OBJECTID,HealthFacilityIDNumber,FacilityCategory,BusinessName,RiskLevel,FullAddress,AddrNum,AddrNumSuffix,StreetName,StreetType,...,InspectionScore,ViolationIDNumber,APN,Ward,Neighborhood,Latitude,Longitude,X_WebMercator,Y_WebMercator,geometry
0,1,LIC38596,BOARD AND LODGING,TAU OF APLHA OMICRON PI INC,1,1121 5TH ST SE,1121.0,None,5TH,ST,...,100,-1,2402924310103,2,Marcy Holmes,44.98308,-93.23801,-1.037921e+07,5.618858e+06,POINT (-93.23801 44.98308)
1,2,LIC38596,BOARD AND LODGING,TAU OF APLHA OMICRON PI INC,1,1121 5TH ST SE,1121.0,None,5TH,ST,...,100,777274,2402924310103,2,Marcy Holmes,44.98308,-93.23801,-1.037921e+07,5.618858e+06,POINT (-93.23801 44.98308)
2,3,LIC49742,GROCERY,SUPERAMERICA #4034,3,2200 LYNDALE AVE S,2200.0,None,LYNDALE,AVE,...,100,-1,3302924110189,10,Lowry Hill East,44.96059,-93.28845,-1.038482e+07,5.615319e+06,POINT (-93.28845 44.96059)
3,4,LIC49743,RESTAURANT,SUPERAMERICA #4034,2,2200 LYNDALE AVE S,2200.0,None,LYNDALE,AVE,...,100,-1,3302924110189,10,Lowry Hill East,44.96059,-93.28845,-1.038482e+07,5.615319e+06,POINT (-93.28845 44.96059)
4,5,LIC49743,RESTAURANT,SUPERAMERICA #4034,2,2200 LYNDALE AVE S,2200.0,None,LYNDALE,AVE,...,100,777335,3302924110189,10,Lowry Hill East,44.96059,-93.28845,-1.038482e+07,5.615319e+06,POINT (-93.28845 44.96059)